@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('~@/assets/fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('~@/assets/fonts/Roboto-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/RobotoCondensed-Bold.ttf') format("truetype");
}


h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  padding-left: 6px;
}
h2 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}
h3 {
  font-size: 14px;
  line-height: 20px;
  color: $text2__dark;
}
span {
  font-size: 12px;
  line-height: 16px;
  color: $text2__dark;

  .dark-mode & {
    color: $text2__dark
  }
}