//colors
$brand: #8083EC;
$surface1: #EDF1F5; $surface1__dark: #161620; //bacground-color MAIN 
$surface2: #FFFFFF; 
$surface3: #F8F8FF; $surface3__dark: #232332; //-
$surface4: #F5F7FA; $surface4__dark: #1E1E29;
$surface5: #D4DCEA; $surface5__dark: #434359; //br tumbler
$surface6: #F46565; 
$surface7: #34CC93;
$surface8: #E2E9F2; 
                      $surface9__dark: #2A2A41;
$surface10: #F2F465;

$text1: #4D5B6F; $text1__dark: #E0E0ED;
$text2: #758AA8; $text2__dark: #717189;


